<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="./assets/css/master.css" />
    </head>
    <body>
        <!-- <span class="inline-box text-white">Hey there!</span>
        <div class="block-box text-white">Bye Bye</div> -->

        <section class="blogs">
            <div class="product">
                <div class="image-box">
                    <img
                        src="./public/images/global/CityLights.jpg"
                        alt="CityLights"
                    />
                </div>
                <div class="title">City Lights by some artist</div>
            </div>
        </section>

        <section class="product-area">
            <div class="product">
                <div class="image-box">
                    <img
                        src="./public/images/global/CityLights.jpg"
                        alt="CityLights"
                    />
                </div>
                <div class="title">1. City Lights by some artist</div>
            </div>
            <div class="product">
                <div class="image-box">
                    <img
                        src="./public/images/global/CityLights.jpg"
                        alt="CityLights"
                    />
                </div>
                <div class="title">2. City Lights by some artist</div>
            </div>
        </section>
    </body>
</html>
